.f_family1{
            font-family: monospace;
        }
        .f_family2{
            font-family: cursive;
        }

        .f_family3{
            font-family: sans-serif;
        }
        .f_family4{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .f_family5{
            font-family: 'Times New Roman', Times, serif;
        }

        .f_weight{
            font-weight: 900;
            font-style: italic;
        }

        .f_font{
            
            font-family: cursive;
        } 