h3{
    color: darkmagenta;
    background-color: aqua;
    font-size: 100px;
}

p{
    color: antiquewhite;
    background-color: black;
    font-size: 20px;
}


thead,tfoot{
    color:black;
    background-color: burlywood;
}