h3{
    color: darkmagenta;
    background-color: aqua;
    font-size: 100px;
}

p{
    color: antiquewhite;
    background-color: black;
    font-size: 20px;
}


thead,tfoot{
    color:black;
    background-color: burlywood;
}

h1{
    color:white;
    background-color: rgb(6, 6, 119);
    font-size: 50;
}